@font-face {
  font-family: "Clash Display";
  src: url(../../static/fonts/ClashDisplay-Regular.woff2);
}
@font-face {
  font-family: "Satoshi";
  src: url(../../static/fonts/Satoshi-Regular.woff2);
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (max-width: 700px) {
  .catagories a {
    display: none;
  }
  .user a {
    display: none;
  }
}
input {
  display: none;
  font-family: clash display;
}

.catagories {
  display: flex;
  gap: 44px;
  justify-content: center;
  max-width: Hug(675px);
  height: Hug(22px);
}
.catagories a {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #726e8d;
  text-decoration: none;
}
.catagories a:hover {
  text-decoration: underline;
}

.hamburger-menu {
  display: none;
}

.face-section {
  background-image: url(../../static/images/webp/header-bg.webp);
  background-repeat: no-repeat;
  width: 100%;
  height: 704px;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 80px;
}
.face-section .content {
  width: 630px;
  height: 444px;
  top: 130px;
  left: 730px;
  padding: 48px 61px 46px 56px;
  background-color: #ffffff;
  position: relative;
}
.face-section .content h2 {
  font-family: Clash Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  text-align: left;
  color: #22202e;
}
.face-section .content p {
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #5b5676;
  margin-top: 20px;
  margin-bottom: 157px;
}
.face-section .content a {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #2A254B;
}

.our-brand-differenses {
  padding-bottom: 130px;
}
.our-brand-differenses .title {
  font-family: Clash Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  color: #2A254B;
  margin-bottom: 84px;
  text-align: center;
}
.our-brand-differenses .differenses {
  display: flex;
  gap: 120px;
}
.our-brand-differenses .differenses .differense {
  width: 209px;
  height: Hug(148px);
  gap: 12px;
  background-color: #F9F9F9;
}
.our-brand-differenses .differenses .differense h4 {
  font-family: Clash Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #2A254B;
  margin-top: 12px;
  margin-bottom: 12px;
}
.our-brand-differenses .differenses .differense span {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #2A254B;
}

.products {
  display: flex;
  gap: 20px;
}

.products_card picture {
  margin-bottom: 24px;
}
.products_card .content {
  margin-top: 24px;
}
.products_card .content h4 {
  font-family: Clash Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #2A254B;
}
.products_card .content p {
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #2A254B;
  margin-top: 8px;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-section button {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #2A254B;
  border: 0px;
  background-color: #F9F9F9;
  margin-top: 64px;
  padding: 16px 32px;
  margin-bottom: 40px;
}

.our-history {
  margin-top: 40px;
}

.our-history--cards {
  display: flex;
  gap: 16px;
  padding-top: 60px;
}
.our-history--cards .box {
  width: 634px;
  height: 478px;
  padding: 64px 75px 54px 64px;
  gap: 0px;
  opacity: 0px;
  background-color: #2A254B;
}
.our-history--cards .box h4 {
  font-family: Clash Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 39.36px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 12px;
}
.our-history--cards .box p {
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 205px;
}
.our-history--cards .box button {
  width: Hug(170px);
  height: Hug(56px);
  padding: 16px 32px 16px 32px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  border: 0px;
  background: rgba(249, 249, 249, 0.1490196078);
}/*# sourceMappingURL=style.css.map */